<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
<title>Etiqueta article</title>
</head>
<body>

<h1>&lt;article&gt;</h1>

<h2>Descripción</h2>
<p>define contenido independiente, autónomo y reutilizable,</p>

<h2>Sintaxis</h2>

<pre><code>
<article>algo</article>
</code></pre>

<h2>Ejemplo renderizado</h2>

<article>
  <h2>Título del Artículo o Noticia</h2>
  <p>Autor: Juan Pérez - Publicado: <time datetime="2026-03-09">9 de marzo</time></p>
  <p>Este es el contenido principal del artículo que es independiente del resto de la página.</p>
</article>
<br><br>

<a href="index.html">Volver al catálogo</a>
<a href="section.html">Anterior</a>
<a href="input.html">Siguiente</a>
</body>
</html>