<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta body</title>
</head>
<body>

    <h1>&lt;body&gt;</h1>

    <h2>Descripción</h2>
    <p>define el cuerpo de un documento, conteniendo todo el contenido visible, como texto, imágenes, hipervínculos, tablas y listas, que se muestra en el navegador</p>
    <h2>Código</h2>
    <pre><code>
           <body>
           <p>
        este parrafo esta adentro de otro cuerpo
    </p>
    </body>
    </code></pre>
 
 
    <h2>Resultado</h2>
    <body> 
        <p>
            este parrafo esta adentro de otro cuerpo
        </p>
    </body>
      <br>
    <a href="index.html">Volver</a>
    <a href="head.html">Anterior</a>
    <a href="table.html">Siguiente</a>
</body>
</html>
