<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta button</title>
</head>
<body>

    <h1>&lt;button&gt;</h1>

    <h2>Descripción</h2>
    <p>se utiliza para crear botones interactivos y cliqueables en una página web</p>
    <h2>Código</h2>
    <pre><code>
        <button type="button" onclick="alert('¡Hola!')">Haz clic aquí</button>
    </code></pre>
    <h2>Resultado</h2>
    <button type="button" onclick="alert('¡Hola!')">Haz clic aquí</button>
      <br><br>
    <a href="index.html">Volver</a>
    <a href="select.html">Anterior</a>
    <a href="section.html">Siguiente</a>
</body>
</html>
