<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta strong</title>
</head>
<body>

    <h1>&lt;form&gt;</h1>

    <h2>Descripción</h2>
    <p>define un formulario interactivo utilizado para recopilar y enviar datos del usuario a un servidor</p>
    <h2>Código</h2>
    <pre><code>
        <form action="/procesar" method="post">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre">
  <button type="submit">Enviar</button>
</form>
    </code></pre>
    <h2>Resultado</h2>
 <form action="/procesar" method="post">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre">
  <button type="submit">Enviar</button>
</form>
  <br>
    <a href="index.html">Volver</a>
    <a href="ul.html">Anterior</a>
</body>
</html>
