<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta h3</title>
</head>
<body>
    <h1>&lt;h3&gt;</h1>
    <h2>Descripción</h2>
    <p>se utiliza para definir subsecciones o subtitulos de tercer nivel dentro de un contenido.</p>
    <h2>Código</h2>
    <pre><code>
        &lt;h3&gt;subtitulo&lt;/h3&gt;
    </code></pre>
    <h2>Resultado</h2>
    <h3>subtitulo</h3>
      <br>
    <a href="index.html">Volver</a>
    <a href="h2.html">Anterior</a>
    <a href="h4.html">Siguiente</a>
</body>
</html>