<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta h5</title>
</head>
<body>

    <h1>&lt;h5&gt;</h1>

    <h2>Descripción</h2>
    <p>define un encabezado o subtítulo de quinto nivel, utilizado para jerarquizar contenidos dentro de una página web.</p>
    <h2>Código</h2>
    <pre><code>
        &lt;h5&gt;encabezado&lt;/h5&gt;
    </code></pre>
    <h2>Resultado</h2>
    <h5>encabezado</h5>
      <br>
    <a href="index.html">Volver</a>
    <a href="h4.html">Anterior</a>
    <a href="h6.html">Siguiente</a>
</body>
</html>
