<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta h6</title>
</head>
<body>

    <h1>&lt;h6&gt;</h1>

    <h2>Descripción</h2>
    <p>define el encabezado o título de menor importancia (nivel 6) dentro de una jerarquía de seis niveles.</p>
    <h2>Código</h2>
    <pre><code>
        &lt;h6&gt;encabezado&lt;/h6&gt;
    </code></pre>
    <h2>Resultado</h2>
    <h6>encabezado</h6>
    
    <br>
    <a href="index.html">Volver</a>
    <a href="h5.html">Anterior</a>
    <a href="strong.html">Siguiente</a>
</body>
</html>
