<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta head</title>
    <meta charset="utf-8">
</head>
<body>

    <h1>&lt;head&gt;</h1>

    <h2>Descripción</h2>
    <p>es un contenedor situado al inicio del documento</p>
    <h2>Código</h2>
    <pre><code>
        <p>&lt;head&gt;</p>
    </code></pre>
    <br>
    <h2>
        resultado
    </h2>
    <br>
    <p>En un archivo HTML estándar, solo debes tener una etiqueta &lt;head&gt; dentro del documento HTML </p>
    
    <a href="index.html">Volver</a>
    <a href="strong.html">Anterior</a>
    <a href="body.html">Siguiente</a>
</body>
</html>
