<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Catalogo de Etiquetas HTML</title>
</head>
<body>

<h1>Catalogo de Etiquetas HTML</h1>

<ul>
    <li><a href="p.html">Etiqueta p</a></li>
    <li><a href="h1.html">Etiqueta h1</a></li>
    <li><a href="h2.html">Etiqueta h2</a></li>   
    <li><a href="h3.html">Etiqueta h3</a></li>
    <li><a href="h4.html">Etiqueta h4</a></li>
    <li><a href="h5.html">Etiqueta h5</a></li>   
    <li><a href="h6.html">Etiqueta h6</a></li>
    <li><a href="strong.html">Etiqueta strong</a></li>
    <li><a href="head.html">Etiqueta head</a></li>   
    <li><a href="body.html">Etiqueta body</a></li>
    <li><a href="table.html">Etiqueta table</a></li>
    <li><a href="select.html">Etiqueta select</a></li>   
    <li><a href="button.html">Etiqueta button</a></li>
    <li><a href="section.html">Etiqueta section</a></li>
    <li><a href="article.html">Etiqueta article</a></li>   
    <li><a href="input.html">Etiqueta input</a></li>
    <li><a href="th.html">Etiqueta th</a></li>
    <li><a href="td.html">Etiqueta td</a></li>   
    <li><a href="ul.html">Etiqueta ul</a></li>
    <li><a href="form.html">Etiqueta form</a></li>
   
</ul>

</body>
</html>