<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta input</title>
</head>
<body>

    <h1>&lt;input&gt;</h1>

    <h2>Descripción</h2>
    <p>es el elemento fundamental para crear campos interactivos en formularios</p>
    <h2>Código</h2>
    <pre><code>
        <input type="text" id="nombre" name="nombre" placeholder="Juan Pérez">
    </code></pre>
    <h2>Resultado</h2>
    <input type="text" id="nombre" name="nombre" placeholder="Juan Pérez">
    <br><br>
    <a href="index.html">Volver</a>
    <a href="article.html">Anterior</a>
    <a href="th.html">Siguiente</a>
</body>
</html>
