<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta section</title>
</head>
<body>

    <h1>&lt;section&gt;</h1>

    <h2>Descripción</h2>
    <p>elemento semántico que agrupa contenido relacionado temáticamente, como capítulos, secciones de una página</p>
    <h2>Código</h2>
    <pre><code>
        <section>
        <h2>Sobre Nosotros</h2>
        <p>Descripción de la empresa...</p>
        </section>
    </code></pre>
    <h2>Resultado</h2>
        <section>
            <h2>Sobre Nosotros</h2>
            <p>Descripción de la empresa...</p>
        </section>
          <br>
    <a href="index.html">Volver</a>
    <a href="button.html">Anterior</a>
    <a href="article.html">Siguiente</a>
</body>
</html>
