<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta select</title>
</head>
<body>

    <h1>&lt;select&gt;</h1>

    <h2>Descripción</h2>
    <p>crea un menú desplegable (lista de selección) para formularios, permitiendo a los usuarios elegir una o más opciones predefinidas</p>
    <h2>Código</h2>
    <pre><code>
        <label for="opciones">Elige una opción:</label>
        <select name="opciones" id="opciones">
            <option value="valor1">Opción 1</option>
            <option value="valor2" selected>Opción 2 (por defecto)</option>
            <option value="valor3">Opción 3</option>
        </select>
    </code></pre>
    <h2>Resultado</h2>
    <label for="opciones">Elige una opción:</label>
    <select name="opciones" id="opciones">
        <option value="valor1">Opción 1</option>
        <option value="valor2" selected>Opción 2 (por defecto)</option>
        <option value="valor3">Opción 3</option>
    </select>
      <br><br>
    <a href="index.html">Volver</a>
    <a href="table.html">Anterior</a>
    <a href="button.html">Siguiente</a>
</body>
</html>
