<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta strong</title>
</head>
<body>

    <h1>&lt;strong&gt;</h1>

    <h2>Descripción</h2>
    <p>se utiliza para definir texto con una fuerte importancia, relevancia o urgencia, mostrándolo generalmente en negrita</p>
    <h2>Código</h2>
    <pre><code>
        &lt;strong&gt;negritas&lt;/strong&gt;
    </code></pre>
    <h2>Resultado</h2>
    <strong>negritas</strong>  <br>
    <a href="index.html">Volver</a>
    <a href="h6.html">Anterior</a>
    <a href="head.html">Siguiente</a>
</body>
</html>
