<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta table</title>
</head>
<body>

    <h1>&lt;table&gt;</h1>

    <h2>Descripción</h2>
    <p>se usa para organizar datos en filas y columnas</p>
    <h2>Código</h2>
    <pre><code>
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
            </tr>
            <tr>
                <td>Ana</td>
                <td>25</td>
            </tr>
            <tr>
                <td>Pedro</td>
                <td>30</td>
            </tr>
        </table>
    </code></pre>
    <h2>Resultado</h2>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
        </tr>
        <tr>
            <td>Ana</td>
            <td>25</td>
        </tr>
        <tr>
            <td>Pedro</td>
            <td>30</td>
        </tr>
    </table>  <br>
    <a href="index.html">Volver</a>
    <a href="body.html">Anterior</a>
    <a href="select.html">Siguiente</a>
</body>
</html>
