<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta td</title>
</head>
<body>

    <h1>&lt;td&gt;</h1>

    <h2>Descripción</h2>
    <p>define una celda de datos estándar dentro de una fila </p>
    <h2>Código</h2>
    <pre><code>
       <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
            </tr>
            <tr>
                <td>Ana</td>
                <td>25</td>
            </tr>
        </table>

    </code></pre>
    <h2>Resultado</h2>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
        </tr>
        <tr>
            <td>Ana</td>
            <td>25</td>
        </tr>
    </table>
  <br>
    <a href="index.html">Volver</a>
    <a href="th.html">Anterior</a>
    <a href="ul.html">Siguiente</a>
</body>
</html>
