<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta th</title>
</head>
<body>

    <h1>&lt;th&gt;</h1>

    <h2>Descripción</h2>
    <p>define una celda de encabezado en una tabla, destacando el contenido por defecto en negrita y centrado</p>
    <h2>Código</h2>
    <pre><code>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
            </tr>
            <tr>
                <td>Ana</td>
                <td>25</td>
            </tr>
        </table>
    </code></pre>
    <h2>Resultado</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
        </tr>
        <tr>
            <td>Ana</td>
            <td>25</td>
        </tr>
    </table>
      <br>
    <a href="index.html">Volver</a>
    <a href="input.html">Anterior</a>
    <a href="td.html">Siguiente</a>
</body>
</html>
