<!DOCTYPE html>
<html xmlns="http://maven.apache.org/POM/4.0.0">
<head>
    <title>Etiqueta strong</title>
</head>
<body>

    <h1>&lt;head&gt;</h1>

    <h2>Descripción</h2>
    <p>define una lista desordenada, ideal para agrupar elementos relacionados con viñetas donde el orden no es crucial</p>
    <h2>Código</h2>
    <pre><code>
        <ul>
            <li>Primer elemento</li>
            <li>Segundo elemento</li>
            <li>Tercer elemento</li>
        </ul>
    </code></pre>
    <h2>Resultado</h2>
    <ul>
        <li>Primer elemento</li>
        <li>Segundo elemento</li>
        <li>Tercer elemento</li>
    </ul>
    <a href="index.html">Volver</a>
    <a href="td.html">Anterior</a>
    <a href="form.html">Siguiente</a>
</body>
</html>
